@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.Logo:hover svg {
		@apply text-gray-100;
	}

	.Logo:hover .navLink {
		@apply dark:text-blue-400 text-blue-600;
	}

	.navLink {
		@apply flex items-center px-4 border-b-2 border-transparent  transition-colors duration-[250ms];
	}

	.navLink.active {
		@apply text-blue-600 dark:text-blue-400 border-blue-600 dark:border-blue-400;
	}

	.navLink.active:hover {
		@apply text-blue-500;
	}

	section p svg:hover {
		@apply dark:text-blue-400 text-blue-600 transition-colors duration-[250ms];
	}
}

* {
	text-transform: capitalize;
}

body {
	position: relative;
	padding-bottom: 110px;
	min-height: 100vh; /* Ensure body takes up at least the height of the viewport */
}

a {
	text-decoration: inherit;
	color: inherit;
}

#AboutHeader {
	background-image: url("https://source.unsplash.com/random/640x480");
	background-position: center center;
	background-size: cover;
}
