@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	text-transform: capitalize;
	scroll-behavior: smooth;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 400ms;
}

@layer components {
	.Logo:hover svg {
		@apply text-gray-100;
	}

	.Logo:hover .navLink {
		@apply dark:text-blue-400 text-blue-600;
	}

	.navLink {
		@apply flex items-center px-4 border-b-2 border-transparent  transition-colors duration-[250ms];
	}

	.navLink.active {
		@apply text-blue-600 dark:text-blue-400 border-blue-600 dark:border-blue-400;
	}

	.navLink.active:hover {
		@apply text-blue-500;
	}

	section p svg:hover {
		@apply dark:text-blue-400 text-blue-600 transition-colors duration-[250ms];
	}
	.plan {
		@apply bg-gray-900 cursor-pointer relative z-0 flex flex-col items-center p-8 border rounded-md dark:bg-gray-900;
	}

	.activePlan {
		@apply bg-gray-900 cursor-pointer relative flex flex-col items-center p-8 border-2 rounded-md dark:border-blue-300 dark:bg-gray-900;
	}

	.planBtn {
		@apply cursor-pointer px-8 py-3 mt-12 text-lg font-semibold uppercase border rounded dark:border-blue-300;
	}

	.activePlanBtn {
		@apply cursor-pointer px-8 py-3 mt-12 text-lg font-semibold uppercase rounded dark:bg-blue-300 dark:text-gray-900;
	}

	.filter {
		@apply cursor-pointer px-4 py-1 border dark:border-blue-300;
	}

	.activeFilter {
		@apply cursor-pointer px-4 py-1 font-semibold border  dark:bg-blue-300 dark:border-blue-300 dark:text-gray-900;
	}

	@media (max-width: 1278px) {
		.plan,
		.activePlan {
			margin-right: 1rem !important;
			margin-left: 1rem !important;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
	@media (max-width: 1242px) {
		.PlansHolder {
			grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
			margin-top: 0 !important;
		}

		.activePlan {
			transform: initial !important;
		}

		.PlansTitle {
			margin-bottom: 0.5rem !important;
		}
	}
}

body {
	position: relative;
	padding-bottom: 110px;
	min-height: 100vh; /* Ensure body takes up at least the height of the viewport */
	overflow-x: hidden;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.blend-normal {
	mix-blend-mode: normal;
	display: block;
}
